.body
    
  
  .body-main
    = render 'shared/side_bar'

    .body-right

      .body-right--header

        .crrent-group
          .header--group-name
            XYZa
          .header--member-list
            Members: seo neko
        = link_to "/groups/#{current_user.id}/edit" ,class:  "link" do
          .header__edit
            edit
      .body-right--main
        =render 'shared/message.html.haml'


      .body-right--footer
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
