.comment
    .upper-info
        %p{"data-group-id"=> "#{@group.id}"}
        - @messages.each do |message|
            .group__comment
                %strong
                    = message.user.name
                .comment__date
                    = message.created_at.strftime('%Y-%m-%d %H:%M:%S')
                .comment__text
                    %p{"data-message-comment"=> "#{message.id}"} #{message.content}
                    = image_tag message.image.url, class: 'lower-message__image',"data-message-comment"=> "#{message.id}" if message.image.present?