.comment
    .upper-info
        - @messages.each do |message|
            .group__comment
                %strong
                    = message.user.name
                .comment__date
                    = message.created_at.strftime('%Y-%m-%d %H:%M:%S')
                .comment__text
                    = message.content
                .comment_image 
                    - if message.content.present?
                        %p.lower-message__content
                            = message.content
                            = image_tag message.image.url, class: 'lower-message__image' if message.image.present?